*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    border-bottom: 1px solid black;
    color: white;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(        
        to right, 
        #FF671F 15%,
        white 40%, white 50%,
        #046A38 70%, #046A38 90%
    );
    .logo{
        font-size: 50px;
        /* border: 1px solid red; */
        a{
            text-decoration: none;
            color: white;
        }
    }
    .ashok-chakra{
        /* border: 1px solid red; */
        margin-left: 150px;
        height: 100px;
        width: 100px;
        background-image: url(Ashoka_Chakra.svg);
        background-position: center;
        background-size: contain;
    }
    .links{
        /* border: 2px solid red; */
        width: 40%;
        display: flex;
        justify-content: space-evenly;
        a{
            font-size: 22px;
            text-decoration:none;
            color: white;
        }
    }
    .logo, .links{
        padding: 5px;
        margin: 5px;
        
    }
    
}

.container{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 20px;
}

.card{
    /* height: 380px; */
    width: 300px;
    border: 1px solid rgb(23, 119, 157);
    padding: 10px;
    border-radius: 5%;
    .centerme{
        text-align: center;
        color: rgb(23, 119, 157);
    }
    *{
        margin: 10px;
    }
}

.category{
    margin: 50px 0 20px 0;
    text-align: center; 
    font-family: monospace;
    color: rgb(8, 93, 127);
    font-size: 40px;
    /* text-decoration: underline; */
}

.air_missile-image{
    height: 90vh;
    background: url("https://i.ytimg.com/vi/mBtaG56zyMg/maxresdefault.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1px;
}
.drone-image{
    height: 100vh;
    background: url("https://www.theweek.in/content/dam/week/magazine/theweek/cover/images/2022/4/22/46-A-model-of-the-Rustom-II-drone.jpg.transform/schema-16x9/image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1px;
}
.fighter_jet-image{
    height: 100vh;
    background: url("https://upload.wikimedia.org/wikipedia/commons/0/0b/Exercise_Garuda_IAF_Su-30_MKI%2C_French_Rafale%2C_IAF_Tejas.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 1px;
}
.helicopter-image{
    height: 100vh;
    background: url("https://i.ytimg.com/vi/MJ4OY4ugIkw/maxresdefault.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 1px;
}