{% extends 'main.html' %}

{% block content %}

    <div class="centerme">
        <h1 style='color: rgb(25, 185, 19);'>This is your profile</h1> <br><br>
        <div class="details" style="color: white;">
            <h2>First name: {{request.user.first_name}}</h2>
            <h2>Last name: {{request.user.last_name}}</h2>
            <h2>Email: {{request.user.email}}</h2>
            <h2>Username:  {{request.user.username}}</h2>
    
            <h2>User: {{request.user}}</h2>
            <h2>Authenticated: {{request.user.is_authenticated}}</h2> <br>

            <a href="{% url 'updateprofile' request.user.id %}">
                <button>Update Profile</button>
            </a>
            <a href="{% url 'changepass' %}">
                <button>Change Password</button>
            </a>
        </div>
    </div>




{% endblock %}