{% extends 'fashion_main.html' %}

{% block content %}
    <h1 style='margin: 50px; text-align: center;'>Clothing</h1> 
    
    <div class="container">
        {% for i in clothing_data %}
            <div class="card">
                <h2 class="centerme">{{i.brand}}</h2> <br>
                <h3>Model: {{i.model}}</h3> <br>
                <h3>Color: {{i.color}}</h3> <br>
                <h3>Price: {{i.price}}</h3> <br>
                <button>add to cart</button>
            </div>
        {% endfor %}
    </div>
{% endblock content %}