{% extends 'air_main.html' %}

{% block content %}
    <h1 class='category'>Missiles Collection</h1>

    <div class="container">
        {% for i in air_missiles %}
            <div class="card">
                <h2 class="centerme">{{i.name}}</h2> <hr>
                <h3>Origin: {{i.origin}}</h3>
                <h3>Speed: {{i.speed}}</h3>
                <h3>Range: {{i.range}}</h3>
                <h3>Warhead: {{i.warhead}}</h3>
                <h3>Type: {{i.type}}</h3>
            </div>
        {% endfor %}
    </div>

    <div class="air_missile-image">
    </div>

{% endblock content %}