{% extends 'air_main.html' %}

{% block content %}
    <h1 class='category'>Drones Collection</h1>

    <div class="container">
        {% for i in drones %}
            <div class="card">
                <h2 class="centerme">{{i.name}}</h2> <hr>
                <h3>Origin: {{i.origin}}</h3>
                <h3>Range: {{i.range}}</h3>
                <h3>Endurance: {{i.endurance}}</h3>
                <h3>Type: {{i.type}}</h3>
                <h3>Role: </h3> 
                {% for r in i.role %}
                    <li>{{r}}</li>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    <div class="drone-image">
    </div>

{% endblock content %}