*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    padding: 20px;
    background-color: rgb(166, 123, 68);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
        font-size: 50px;
        color: white;
    }
    .links{
        width: 30%;
        font-size: 40px;
        a{
            color: white;
            text-decoration: none;
        }
    }
}


label{
    font-weight: bolder;
}
p{
    color:red;
}