*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    border-bottom: 1px solid black;
    color: white;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(        
        to right, 
        #FF671F 15%,
        white 40%, white 50%,
        #046A38 70%, #046A38 90%
    );
    .logo{
        font-size: 50px;
        /* border: 1px solid red; */
        a{
            text-decoration: none;
            color: white;
        }
    }
    .ashok-chakra{
        /* border: 1px solid red; */
        margin-left: 150px;
        height: 100px;
        width: 100px;
        background-image: url(Ashoka_Chakra.svg);
        background-position: center;
        background-size: contain;
    }
    .links{
        /* border: 2px solid red; */
        width: 40%;
        display: flex;
        justify-content: space-evenly;
        a{
            font-size: 22px;
            text-decoration:none;
            color: white;
        }
    }
    .logo, .links{
        padding: 5px;
        margin: 5px;
        
    }    
}

.category{
    margin: 50px 0 20px 0;
    text-align: center; 
    font-family: monospace;
    color: darkblue;

    font-size: 40px;
    /* text-decoration: underline; */
}

.container{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 20px;    
}

.card{
    width: 330px;
    border: 1px solid rgb(4, 4, 130);
    padding: 10px;
    border-radius: 5%;
    .centerme{
        text-align: center;
        color: rgb(22, 22, 217);
    }
    *{
        margin: 10px;
    }
    background-color: rgba(255, 255, 255, .7);
}

.submarine-image{
    height: 100vh;
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/Trio_of_Kalvari_class_submairne_during_an_exercise.jpg/2560px-Trio_of_Kalvari_class_submairne_during_an_exercise.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1px;
}
.ac-image{
    height: 100vh;
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/32/INS_Vikrant_%28R11%29_and_INS_Vikramaditya_%28R33%29_during_exercise.jpg/2880px-INS_Vikrant_%28R11%29_and_INS_Vikramaditya_%28R33%29_during_exercise.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1px;
}
.destroyer-image{
    height: 100vh;
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/INS_Chennai_%28D65%29_at_sea.jpg/2560px-INS_Chennai_%28D65%29_at_sea.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1px;
}
.frigate-image{
    height: 100vh;
    background: url("https://upload.wikimedia.org/wikipedia/commons/1/15/INS_Trishul_%28F43%29_on_a_joiint_EEZ_patrol_with_Tanzanian_Navy_%28cropped%29.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 1px;
}