{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>practice models crud</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <!-- navbar -->
     <nav>
        <div class="logo">
            <a href="{%url 'homepage' %}"> HMS (Receptionist Interface) </a>
        </div>
        <div class="links">
            <a href="{% url 'homepage' %}">Home</a>
            <a href="{% url 'registration' %}">Register</a>
        </div>
     </nav>

    <!-- actual code  -->
     {% block content %}
     
     {% endblock %}
</body>
</html>