{% extends 'land_main.html' %}

{% block content %}
    <h1 class='category'>Land Based Missiles</h1>

    <div class="container">
        {% for i in land_missiles %}
            <div class="card">
                <h2 class="centerme">{{i.name}}</h2> <hr>

                <h3>Origin: {{i.origin}}</h3>
                <h3>Type: {{i.type}}</h3>
                <h3>Range: {{i.range}}</h3>
                <h3>Payload: {{i.payload}}</h3>
                <h3>Propellant: {{i.propellant}}</h3>

                <h3>Role: </h3> 
                {% for r in i.role %}
                    <li>{{r}}</li>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    <div class="land_missile-image">
    </div>

{% endblock content %}