<nav>
    <div class="logo">Article</div>
    <div class="links">
        {% if request.user.is_authenticated %}
            <a href="{% url 'homepage' %}">Home</a>
            <a href="{% url 'search' %}">Search</a>
            <a href="{% url 'profile' %}">Profile</a>
            <a href="{% url 'logoutme' %}">Logout</a>
        {% else %}
            <a href="{% url 'loginpage' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
        {% endif %}
        <a href="{% url 'about' %}">About</a>
    </div>
</nav>