{% extends 'main.html' %}

{% block content %}

    <center>
        <div class="loginform">
            <form action="" method="POST">
                {% csrf_token %}
                
                <h1>Login Form</h1> <br><br>
                <input type="text" name='username' placeholder="Enter username" required> <br><br>
                <input type="password" name='password' placeholder="Enter password" required> <br><br>


                <p style="color: red;margin-bottom:10px;">
                    {% for i in messages %}
                        {{i}}
                        <a href="{% url 'register' %}">Here</a>
                    {% endfor %} 
                </p>

                
                <button type="submit">Login</button>
            </form>
        </div>
    </center>

{% endblock content %}